<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @*Manually Added BEGIN*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/knockout-3.4.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    @*Manually Added END*@
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Project Time Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Employees", "ListEmployees", "Employee")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <nav class="navbar navbar-default" style="background-color: black; color:white;">
        <div class="container-fluid">
            <div class="navbar-brand" @*style="padding:0px; margin-top:2px;"*@>
                <a href="@Url.Action("Index", "Home")">
                  <strong style="color:white">Project Time Management System</strong>
                </a>
            </div>

            <div class="navbar-header" style="margin-top:5px; padding-left:10px;">
                <h4>@ViewBag.Title</h4>
            </div>

            <div class="col-md-offset-4">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Index", "Home")" style="color:white;">
                                <span class="glyphicon glyphicon-home"></span>
                                Home
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("ListEmployees", "Employee")" style="color:white;">
                                <span class="glyphicon glyphicon-th-list"></span>
                                Employees
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("About", "Home")" style="color:white;">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                About
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Contact", "Home")" style="color:white;">
                                <span class="glyphicon glyphicon-envelope"></span>
                                Contact
                            </a>
                        </li>
                    </ul>

                    @*<ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_LoginPartial")
                    </ul>*@
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
